<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="./index.css">
</head>
<body>
  <div id="app">
    <h1>Hello! XlsxHero Example</h1>
    <input
      @change="uploadChange"
      type="file"
      name="xlsx"
      id="file"
      accept='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'
    >
    <div class="summary">validate xlsx cost: {{detail.cost || '??'}} ms</div>
    <ul>
      <li v-for="(it, i) in list">{{i}}&nbsp;&nbsp;{{it}}</li>
    </ul>
  </div>
</body>
<script>
new Vue({
  el: '#app',
  data: function () {
    return {
      list: [],
      detail: {}
    }
  },
  methods: {
    uploadChange: function(ev) {
      const file = ev.target.files[0]
      const data = new FormData();
      data.append('file', file);

      this.send(data)
    },
    send: function (data) {
      axios
        .post('/upload', data)
        .then(({ data: response }) => {
          this.list = response.data || []
          this.detail = response.detail || {}
          console.log('res--', res)
        })

    }
  }
})
</script>
</html>