<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
  <link rel="stylesheet" href="./index.css">
</head>
<body>
  <div id="app">
    <h1>Hello! XlsxHero Example</h1>
    <input
      @change="uploadChange"
      type="file"
      name="xlsx"
      id="file1"
      accept='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'
    >上传</input>
    <input
      @change="smoothRead"
      type="file"
      name="xlsx"
      id="file2"
      accept='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'
    >新上传</input>
    <div class="summary">validate xlsx cost: {{detail || '??'}} ms</div>
    <div class="summary">err: {{errs}}</div>
    <ul>
      <li v-for="(it, i) in list">{{i}}&nbsp;&nbsp;{{it}}</li>
    </ul>
  </div>
</body>
<script>
new Vue({
  el: '#app',
  data: function () {
    return {
      list: [],
      detail: {},
      errs: null
    }
  },
  methods: {
    uploadChange: function(ev) {
      const file = ev.target.files[0]
      this.send('/upload', file)
    },
    smoothRead: function(ev) {
      const file = ev.target.files[0]
      this.send('/upload/smooth', file)
    },
    send: function(path, file) {
      const data = new FormData()
      data.append('file', file)

      fetch(path, { method: 'POST', body: data })
        .then(res => res.json())
        .then((res) => {
          const { data, detail, msg } = res
          this.list = data || []
          this.detail = detail || {}
          this.errs = msg
        })
        .catch(err => {
          console.log(err)
        })
    }
  }
})
</script>
</html>